{% extends "Base.html" %}
{% block title %}SERVICES{% endblock title%}
{% block body %} 
<div  class="container">
    <section id="services">
        <h2>Our Services</h2>
        
        <div class="service">
            <img src="https://cdn.pixabay.com/photo/2024/04/08/15/34/food-photography-8683787_640.jpg" 
            alt="Wide Variety of Ice Cream" height="200px" width="200px">
            <h3>Wide Variety of Ice Cream</h3>
            <p>Indulge in our extensive selection of ice cream flavors, from classic favorites like chocolate and vanilla to unique creations that will tantalize your taste buds.</p>
        </div>
        
        <div class="service">
            <img src="https://cdn.pixabay.com/photo/2014/12/12/01/48/ice-564944_640.jpg" 
            height="200px" width="200px" alt="Soft Serve Ice Cream">
            <h3>Soft Serve &amp; Sundae Bar</h3>
            <p>Treat yourself to our delicious soft serve ice cream and create your own sundae masterpiece with a variety of toppings and sauces.</p>
        </div>
        
        <div class="service">
            <img src="https://cdn.pixabay.com/photo/2015/04/01/20/05/ice-cream-702934_640.jpg" 
            height="200px" width="200px" alt="Book Reading">
            <h3>Book Reading Corner</h3>
            <p>Relax and unwind in our cozy book reading corner, where you can enjoy a good book while savoring your favorite ice cream flavor.</p>
        </div>
        
        <div class="service">
            <img src="https://cdn.pixabay.com/photo/2017/02/14/07/43/cake-2065040_640.jpg" 
            height="200px" width="200px"
            alt="Home Delivery">
            <h3>Custom-Made Ice Cream &amp; Home Delivery</h3>
            <p>Can't make it to our parlor? No problem! Order custom-made ice cream flavors online and have them delivered straight to your doorstep for a sweet surprise at home.</p>
        </div>
    </section>
    
</div>

{% endblock body %} 